<%-include('header.ejs') %>


  
      <div class="ui text container">
        <h1 class="ui inverted header">
          Apprendre le NODE JS
        </h1>
        <h2> plateforme logicielle libre en JavaScript.</h2>
        <a class="ui huge primary button" href="https://nodejs.org/fr/" target="_blank">Commencer <i class="right arrow icon"></i></a>
      </div>
  
    </div>
  
    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header">Comment l'utiliser/installer ?</h3>
            <p>Il suffit d'installer node sur votre PC via leurs site : https://nodejs.org/fr/</p> <p>Une fois fait quand vous lancez un terminal et que vous tapez node, si une version s'affiche c'est qu'il est bien installé</p>
            <h3 class="ui header">A quoi ca sert ?</h3>
            <p>En tant qu'environnement d'exécution JavaScript asynchrone et orienté événement, Node.js est conçu pour générer des applications extensibles</p>
          </div>
          <div class="six wide right floated column">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/590px-Node.js_logo.svg.png" class="ui large bordered rounded image">
          </div>
        </div>
        <div class="row">
          <div class="center aligned column">
            <a class="ui huge button" href="https://nodejs.org/fr/about/" target="_blank">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  
  
    
    
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h4 class="ui horizontal header divider">
          <a href="#">Docs</a>
        </h4>
        <h3 class="ui header">Besoin de renseignements ou d'aides</h3>
        <p>Il suffit tout simplement d'aller sur le site et d'accèder au doc correspondant</p>
        <a class="ui large button" href="https://nodejs.org/fr/docs/" target="_blank">Je suis interéssé</a>
      </div>
    </div>
  
 

<%- include('footer.ejs') %>    